<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a routerLink="salas" class="nav-link" routerLinkActive="active">Listar Salas</a>
        </li>
        <li class="nav-item">
            <a routerLink="criar-sala" class="nav-link" routerLinkActive="active">Adicionar Sala</a>
        </li>
    </ul>
</nav>
<div class="container mt-4">
    <h2 class="text-center">{{ title }}</h2>
    <hr>
    <div class="card shadow">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>