<h3>Criar Sala</h3>
<div [hidden]="enviado" class="card p-4 shadow-sm" style="width: 400px;">
  <form (ngSubmit)="enviar()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="sala.nome" name="nome"
        placeholder="Digite o nome da sala">
    </div>

    <div class="form-group">
      <label for="data">Data</label>
      <input type="date" class="form-control" id="data" required [(ngModel)]="sala.data" name="data">
    </div>

    <div class="form-group">
      <label for="hora">Horário</label>
      <input type="time" class="form-control" id="hora" required [(ngModel)]="sala.hora" name="hora">
    </div>

    <button type="submit" class="btn btn-success btn-block mt-3">Enviar</button>
  </form>
</div>

<div [hidden]="!enviado" class="mt-3">
  <button class="btn btn-primary" (click)="novaSala()">Adicionar Nova Sala</button>
</div>